<!doctype html>
<head>
    <title>Super Sprinter 3000</title>
    <style>
        table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                        }
    </style>
</head>

<body>
    <p><h1> User Story manager</h1></p>
    <p><form action="/story"><input type="submit" name="Add new" ></form></p>
    <table border="1">
        <col width="30">
        <col width="150">
        <col width="200">
        <col width="200">
        <col width="50">
        <col width="50">
        <col width="50">
        <col width="80">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for story in story_list %}
        <tr>
            <td>{{story.id}}</td>
            <td>{{story.title}}</td>
            <td>{{story.long_desc}}</td>
            <td>{{story.accept}}</td>
            <td>{{story.value}}</td>
            <td>{{story.estim}}</td>
            <td>{{story.status}}</td>
            <td><img src="{{ url_for('static', filename = "Edit.png") }}" alt="Edit Story" width="25">
                <img src="{{ url_for('static', filename = "Delete.png") }}" alt="Delete Story" width="25" align="RIGHT">
            </td>
        </tr>
        {% endfor%}
    </table>

</body>